image:
  repository: pnda/platform-package-repository
  tag: release5.0
  pullPolicy: IfNotPresent

service:
  type: ClusterIP
  port: 8888

conf:
  logLevel: INFO

resources:
  requests:
    memory: "128Mi"
    cpu: "10m"
  limits:
    memory: "1024Mi"
    cpu: "1000m"

persistence:
  enabled: true
  storageClass: "-"
  accessMode: ReadWriteOnce
  size: 5Gi
